@model EcosystemApp.Models.VMSpecies

@{
    ViewData["Title"] = "DeleteConfirmation";
}

<h3 class="text-dark"><i><b>Confirmar eliminación</b></i></h3>
<h4>@ViewBag.Error</h4>
<br />
<h4 class="text-dark"><i><b>Esta seguro/a de querer elminar la especie?</b></i></h4>
<hr />
<div>
    <span>@Html.DisplayFor(model => model.SpeciesNameVal)</span>
    <form asp-action="Delete">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <input asp-action="Index" value="Cancelar" class="btn" />
    </form>
</div>
